@import "tailwindcss";
html {
  scroll-behavior: smooth;
}
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@300;400;500;600;700&display=swap");

body {
  margin: 0;
  font-family: "Sora", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
::-webkit-scrollbar-track {
  background: #0b0f19;
}
Ÿê ::-webkit-scrollbar-thumb {
  background: #8b5cf6;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #7c3aed;
}
::selection {
  background-color: #8b5cf6;
  color: #ffffff;
}
::-moz-selection {
  background-color: #8b5cf6;
  color: #ffffff;
}
@keyframes float {
  0% {
    transform: translate(0, 0) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0, 0) scale(1);
  }
}
@media (min-width: 1024px) {
  html,
  body {
    cursor: none !important;
  }

  a,
  button,
  .clickable {
    cursor: none !important;
  }
}
